@charset "UTF-8";

body {
    background-color: rgba(17, 17, 126, 0.616);
    font-family: Arial, Helvetica, sans-serif;
}
h1#principal {
    color: white;
    text-align: center;
    font-size: 2.4em;
    text-shadow: 2px 2px 2px black;
}
h1 {
    color: rgba(1, 1, 114, 0.842);
}
h2 {
    color: rgba(9, 105, 0, 0.863);
}
p {
    text-align: justify;
    text-indent: 20px;
}
.basico {
    color: black;
}
.intermediario {
    color: darkgreen;
}
.avancado {
    color: rgba(230, 73, 0, 0.89);
}
.destaque {
    background-image:linear-gradient(to right, rgba(75, 230, 75, 0.178), rgba(174, 174, 247, 0.226));
}
main {
    width: 1280px;
    margin: auto;
    background-color: rgba(201, 201, 250, 0.87);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.151);
}