@charset "UTF-8";

/* Todas as demais midias*/

/* Typical device breakpoinsts
celular: 320px — 480px
tablet: 481px — 768px
desktop: 1025px — 1200px
grandes telas: 1201px and more
*/
@media print { /*IMPRRESSORA*/
    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: block;}
    img#pc {display: none;}
    img#tv {display: none;}

}

@media screen and (min-width: 768px) and (max-width: 992px) { /*TABLET*/
    body {
        background: black url(../imagens/back-tablet.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
    }

    img#phone {display: none;}
    img#tablet {display: block;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /*PC*/
    body {
        background: black url(../imagens/back-pc.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: block;}
    img#tv {display: none;}
}

@media screen and (min-width: 1200px) { /*TV*/
    body {
        background: black url(../imagens/back-tv.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: block;}
}